<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group4.dmhelper" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.ActivityStart"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityGame"
            android:label="Main Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Search.ActivitySearchMonsters"
            android:label="Main Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Search.ActivitySearchItems"
            android:label="Main Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Search.ActivitySearchFeats"
            android:label="Main Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Search.ActivitySearchSpells"
            android:label="Main Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Search.ActivitySearchEquipment"
            android:label="Main Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterSheet"
            android:label="@string/title_activity_activity_character_sheet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupEditExperience"
            android:label="@string/title_activity_popup_edit_experience"
            android:theme="@style/AppTheme.popup" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupEditHealth"
            android:label="@string/title_activity_popup_edit_health"
            android:theme="@style/AppTheme.popup" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterSkills"
            android:label="@string/title_activity_activity_character_skills" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterMagic"
            android:label="@string/title_activity_activity_character_magic" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterRacialClass"
            android:label="@string/title_activity_activity_character_racial_class" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterFeats"
            android:label="@string/title_activity_activity_character_feats" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterInventory"
            android:label="@string/title_activity_activity_character_inventory" >
        </activity>
        <activity
            android:name=".Activities.ActivityCharacterAbilities"
            android:label="@string/title_activity_activity_character_abilities" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupMonsterInfo"
            android:label="Monster Info Popup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupItemInfo"
            android:label="Item Info Popup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupEquipmentInfo"
            android:label="Equipment Info Popup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupFeatInfo"
            android:label="Feat Info Popup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupSpellInfo"
            android:label="Feat Info Popup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.Popups.PopupNumPlayer"
            android:label="@string/title_activity_num_player"
            android:theme="@style/AppTheme.popup">
        </activity>
        <activity
            android:name=".Activities.Popups.PopupEditCharPic"
            android:label="@string/title_activity_num_player"
            android:theme="@style/AppTheme.popup"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Activities.Popups.PopupSelectPlayer"
            android:label="@string/title_activity_num_player"
            android:theme="@style/AppTheme.popup"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Activities.Popups.PopupSelectGame"
            android:label="@string/title_activity_num_player"
            android:theme="@style/AppTheme.popup"
            android:noHistory="true">
        </activity>

    </application>

</manifest>
